.primary {
  background-color: var(--color-primary);
  color: var(--color-secondary-text);
  padding: 24px 30px;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.primary:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
}

@media (max-width: 972px) {
  .primary {
    padding: 20px 24px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .primary {
    padding: 16px 24px;
    font-size: 14px;
  }
}

.secondary {
  padding: 12px 24px;
  border: 2px solid var(--color-primary-border);
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  font-size: 16px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.secondary:hover {
  border: 2px solid var(--color-secondary-hover);
  border-radius: 4px;
}

.letter {
  color: var(--color-active-text);
}

.success {
  border: 2px solid var(--color-success-border);
  background-color: var(--color-active);
}

.success:hover {
  border: 2px solid var(--color-success-border);
  background-color: var(--color-active);
}

.error {
  border: 2px solid var(--color-error-border);
  background-color: var(--color-inactive);
}

.error:hover {
  border: 2px solid var(--color-error-border);
  background-color: var(--color-inactive);
}

.active {
  border: 2px solid var(--color-active-border);
  background-color: var(--color-secondary);
}

.active:hover {
  border: 2px solid var(--color-active-border);
  background-color: var(--color-secondary);
}
